:root {
--clr-bright: hsl(31, 77%, 52%);
--clr-dark-cyan: hsl(184, 100%, 22%);
--clr-very-dark-cyan: hsl(179, 100%, 13%);
--clr-paragraphs: hsla(0, 0%, 100%, 0.75);
--clr-background-headings-buttons: hsl(0, 0%, 95%);

--ff-default: 'Lexend Deca', sans-serif;
--ff-title: 'Big Shoulders Display', cursive;

--fs-0: .75rem;
--fs-1: .9375rem;
--fs-2: 2.125rem;

--fw-400: 400;
--fw-700: 700;

--space-element: 1.6rem;
--space-btn: 6rem;
--space-paragraph: 0 3rem 0 0;
--padding-card: 2.8125rem;
--padding-btn: .6rem 1.5rem;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  html, body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
    img, svg {
    display: block;
    max-width: 100%;
  }
   button {
    font: inherit;
  }
  p, h1 {
    overflow-wrap: break-word;
  }

  body {
    background-color: var(--clr-background-headings-buttons);
  }

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .625rem;
  }

  .space-element {
    margin-top: var(--space-element);
  } 

  .container .sedan {
    background-color: var(--clr-bright);
    padding: var(--padding-card);
    max-width: 300px;
    max-height: 498px;
  }

  .container .suv {
    background-color: var(--clr-dark-cyan);
    padding: var(--padding-card);
    max-width: 300px;
    max-height: 498px;
  }

  .container .luxury {
    background-color: var(--clr-very-dark-cyan);
    padding: var(--padding-card);
    max-width: 300px;
    max-height: 498px;
  }

  .container h1 {
    font-family: var(--ff-title);
    font-weight: var(--fw-700);
    font-size: var(--fs-2);
    color: var(--clr-background-headings-buttons);
    text-transform: uppercase;
  }

  .container p {
    font-family: var(--ff-default);
    font-weight: var(--fw-400);
    color: var(--clr-paragraphs);
    font-size: var(--fs-0);
    padding: var(--space-paragraph);
    line-height: 1.4rem;

  }

  .container button {
    background-color: var(--clr-background-headings-buttons);
    border-radius: 1.3rem;
    padding: var(--padding-btn);
    margin-top: var(--space-btn);
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
  }

  .container button:hover {
    border: 2px solid var(--clr-background-headings-buttons);
    background-color: transparent;
  }

  .container .sedan button {
    color: var(--clr-bright);
    font-weight: var(--fw-700);
  }

  .container .sedan button:hover {
    color: var(--clr-background-headings-buttons);
    font-weight: var(--fw-700);
  }

  .container .suv button {
    color: var(--clr-dark-cyan);
    font-weight: var(--fw-700);
  }

  .container .suv button:hover {
    color: var(--clr-background-headings-buttons);
    font-weight: var(--fw-700);
  }

  .container .luxury button {
    color: var(--clr-very-dark-cyan);
    font-weight: var(--fw-700);
  }

  .container .luxury button:hover {
    color: var(--clr-background-headings-buttons);
    font-weight: var(--fw-700);
  }

  @media(max-width: 450px) {
    .container {
        height: auto;
        margin: 6rem 1rem;
        flex-direction: column;        
      }
  }
  
  
  
  
  
   





